*{margin:0;padding: 0}
hr{width: 70%;}

body
{
  background: #eae8e8;
}
.container
{
    margin: 5% auto;
  width: 30%;
  height: 300px;
  background: linear-gradient(to left,#ff0000,#a30d0d);
  
  display: flex;
  align-items:  center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5% 20%;
}
.container input[type=text]
{
  padding-left: 10px;
  width: 250px;
  height: 50px;
  border-radius: 10%;
  background: #848484;
  border-style: none;
  color: whitesmoke;
  font-size: 30px;
}
.container input[type=date]
{
  width: 150px;
  height: 50px;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
 padding-left: 3%;
   background: #848484;
  border-style: none;
  color: whitesmoke;
  font-size: 15px;
}
#area
{
width: 317px;
  height: 74px;
   background: #848484;
  border-style: none;
  color: whitesmoke;
  font-size: 20px;
  font-weight: 900;
}
.save
{
  background: aqua;
  margin:10px;
  width: 60px;
  height: 30px;
  line-height:25px;
  text-align: center;
  border: 1px solid;
  border-radius: 50%;
  cursor:pointer;
 -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  transition-duration: 1s;
  
}
.save:hover
{
  background: linear-gradient(to left,#00fff2,#03aaa2);
  border:1px solid blue;
  color:whitesmoke
}
/*box container*/
.box-container
{  
 
  margin: -4.5% auto;
  width: 30%;
  min-height: 300px;
  background: linear-gradient(to left,#004cff,#002fa0);
  
  display: flex;
  align-items:  center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20% 5%;
  flex-wrap: wrap;
}

.discriptblue
{
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
  width: 10%;
  word-wrap: anywhere
}